<div class="container form">
  <div class="background-form">
    <h1>Mon profil</h1>
    <% if @user.avatar.present? %>
      <%= cl_image_tag(@avatar, height: 150, width: 200, crop: :fill) %>
    <% else %>
      <%= image_tag("default-avatar.png", height: 150, width: 150, crop: :fill)  %>
    <% end %>
    <%= simple_form_for current_user do |f| %>
      <%= f.input :avatar  %>
      <%= f.input :username, label: "Pseudo" %>
      <%= f.button :submit, "Mettre à jour", class: "btn btn-outline-success"  %>
    <% end %>
    <%= link_to "Modifier mon mot de passe", edit_user_registration_path %>
  </div>
</div>

