<div class="container form">
  <div class="background-form">
    <h1>Mon profil</h1>
    <% if current_user.avatar.nil? %>
      <i class="fas fa-user-circle gravatar"></i>
    <% else %>
      <%= cl_image_tag(current_user.avatar, height: 150, width: 200, crop: :fill) %>
    <% end %>
    <%= simple_form_for current_user do |f| %>
      <%= f.input :avatar  %>
      <%= f.input :username %>
      <%= f.button :submit, "Mettre à jour", class: "btn btn-outline-success"  %>
    <% end %>
    <%= link_to "Modifier mon mot de passe", edit_user_registration_path %>
  </div>
</div>

