<div class="movie-card-details">
  <div>
    <%= cl_image_tag(@photo, height: 300, width: 200, crop: :fill, class: "image") %>
    <!-- <img src= <%= @movie.photo %> alt="IMAGE" /> -->
  </div>
  <div>
    <h1><%= @movie.title %></h1>
    <!-- this user has already this movie as a favorite -->
    <% if @favorite.nil? %>
    <div class="favorite">
      <%= link_to user_movie_favorites_path(@user, @movie), method: :post, remote:true do  %>
        <i class="far fa-heart"></i>
      <% end %>
    </div>
    <% else %>
    <div class="favorite">
      <%= link_to user_movie_favorite_path(@user, @movie, @favorite), method: :delete, remote:true do  %>
        <i class="fas fa-heart"></i>
      <% end %>
    </div>
    <% end %>
    <h2>Popularité: <%= @movie.popularity %></h2>
    <h3>Date de sortie: <%= @movie.release_date %></h3>
    <h4>Ajouté par: <%= @movie.user.username %> le <%= @movie.created_at %></h4>
    <h4>Type: <%= @movie.media_type %></h4>
    <h4>Langue: <%= @movie.language %></h4>
    <p><%= @movie.resume %></p>
    <% if @movie.user == @user %>
      <%= link_to "Edit", edit_user_movie_path(@user, @movie)%>
      <%= link_to "Destroy", user_movie_path(@user, @movie), method: :delete%>
    <% end %>
  </div>
</div>
