<footer class="wrapper">
  <div class="container footer-social-media">
    <div id="social-fonts">
      <%= link_to root_path do  %>
         <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to root_path do  %>
         <i class="fab fa-twitter-square"></i>
      <% end %>
      <%= link_to root_path do  %>
        <i class="fab fa-pinterest-square"></i>
      <% end %>
    </div>
    <div>
      <div>
        <%= link_to "#" do %>
          Contact
        <% end %>
      </div>
      <div>
        <%= link_to "#" do %>
          CGU
        <% end %>
      </div>
      <div>
        <%= link_to "#" do %>
          Careers
        <% end %>
      </div>
    </div>
  </div>
</footer>
