<footer class="wrapper">
  <div class="container footer-social-media-links">
    <div id="social-media-fonts">
      <%= link_to root_path do  %>
         <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to root_path do  %>
         <i class="fab fa-twitter-square"></i>
      <% end %>
      <%= link_to root_path do  %>
        <i class="fab fa-pinterest-square"></i>
      <% end %>
    </div>
    <div>
      <div>
        <%= link_to "#" do %>
          Contact
        <% end %>
      </div>
      <div>
        <%= link_to "#" do %>
          CGU
        <% end %>
      </div>
      <div>
        <%= link_to "https://www.codewars.com/kata/reviews/5505556d1c418091cf00012d/groups/5c13b5305f7239dafa000de6" do %>
          Which are in?
        <% end %>
      </div>
    </div>
  </div>
</footer>
