<div class="container">
  <%= paginate(@movies) %>
  <div class="row" id="movies">
    <% @movies.each do |movie| %>
      <div class="movie-card col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div>
          <%= cl_image_tag(movie.photo, width:200, height: 300, :crop => :fill) %>
        </div>
        <div>
          <h2><%= movie.title %></h2>
          <h3>Popularité: </h3>
          <h4>Date de sortie: </h4>
          <p><%= truncate(movie.resume, length: 180) %></p>
          <% if movie.favorites_count == 0 %>
            <p><%= movie.favorites_count %><i class="fas fa-star"></i></p>
          <% elsif movie.favorites_count >= 1 && movie.favorites_count < 10 %>
            <p style="color:green"><%= movie.favorites_count %><i class="fas fa-star"></i></p>
          <% else %>
            <p style="color:orange"><%= movie.favorites_count %><i class="fas fa-star"></i></p>
          <% end %>
          <%= link_to "Détails", user_movie_path(current_user, movie) %>
        </div>
      </div>
    <% end %>
  </div><br>
  <%= paginate(@movies) %>
</div>


