<nav class="wrapper">
  <div class="navbar container">
    <div id="logo-item">
      <%= link_to root_path do %>
        <%= image_tag("logo_holdies", size: "90") %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="button-ternary"><%= link_to "Log In", new_user_session_path %></div>
      <div class="button-secondary"><%= link_to "Sign Up", new_user_registration_path %></div>
    <% end %>
  </div>
</nav>
