<nav class="wrapper">
  <div class="navbar-content container">
    <div id="logo-item">
      <%= link_to root_path do %>
        <%= image_tag("logo_holdies", size: "130") %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <span>
        <%= link_to "MES FAVORIS"  %>
      </span>
      <div class="profile-link">
        <div class="dropdown">
          <div data-toggle="dropdown" class="dropdown-toggle">
            <i class="fas fa-user-circle gravatar"></i>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class=>"dropdown-item"  %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="button-ternary"><%= link_to "Log In", new_user_session_path %></div>
      <div class="button-secondary"><%= link_to "Sign Up", new_user_registration_path %></div>
    <% end %>
  </div>
</nav>
